:root {
  --purple: #B333E9;
  --purple-50: #F7EBFD;
  --purple-100: #F0D6FB;
  --purple-500: #F7EBFD;
  --purple-700: #6B1F8C;
  --orange: #FB8500;
  --orange-50: #FFF3E5;
  --orange-100: #FEE7CC;
  --orange-700: #975000;
  --pan: #F5F5F5;
  --secondary: #6c757d;
  --secondary-50: #F7EBFD;
  --secondary-100: #F0F2FC;
  --secondary-150: #F0E9B2;
  --secondary-200: #F0E3A0;
  --secondary-300: #F0D0A0;
  --secondary-400: #F0C800;
  --secondary-500: #F0B800;
  --secondary-600: #CC9300;
  --secondary-700: #CC9400;
  --secondary-800: #663C00;
  --secondary-900: #4C3A00;
  --secondary-950: #1A1A00;
  --primary: #fcbd15;
  --primary-50: #E8ECF5;
  --primary-100: #D7E0F0;
  --primary-150: #C4CDE4;
  --primary-200: #B1B8E0;
  --primary-300: #89A8D9;
  --primary-400: #61A0B8;
  --primary-500: #3A4B9A;
  --primary-600: #2E3C85;
  --primary-700: #221B64;
  --primary-800: #171A43;
  --primary-900: #0B0E21;
  --primary-950: #0A0A10;
  --tertiary: #ecebe9;
  --tertiary-50: #E5EAEA;
  --tertiary-100: #CCD6D5;
  --tertiary-150: #B2C1C0;
  --tertiary-200: #99ADAB;
  --tertiary-300: #668480;
  --tertiary-400: #335B56;
  --tertiary-500: #00322C;
  --tertiary-600: #002823;
  --tertiary-700: #001E1A;
  --tertiary-800: #001412;
  --tertiary-850: #000F0D;
  --tertiary-900: #000A09;
  --tertiary-950: #000504;
  --neutral: #9E9E9E;
  --neutral-0: #FFFFFF;
  --neutral-50: #F5F5F5;
  --neutral-100: #ECECEC;
  --neutral-150: #E2E2E2;
  --neutral-200: #D8D8D8;
  --neutral-300: #C5C5C5;
  --neutral-400: #B1B1B1;
  --neutral-500: #9E9E9E;
  --neutral-600: #7E7E7E;
  --neutral-700: #5F5F5F;
  --neutral-800: #3F3F3F;
  --neutral-850: #2F2F2F;
  --neutral-900: #202020;
  --neutral-950: #101010;
  --neutral-1000: #000000;
  --neutral-0,op8: rgba(255, 255, 255, 0.0800);
  --neutral-0,op16: rgba(255, 255, 255, 0.1600);
  --neutral-0,op40: rgba(255, 255, 255, 0.4000);
  --neutral-0,op64: rgba(255, 255, 255, 0.6400);
  --neutral-0,op80: rgba(255, 255, 255, 0.8000);
  --neutral-1000,op8: rgba(0, 0, 0, 0.0800);
  --neutral-1000,op16: rgba(0, 0, 0, 0.1600);
  --neutral-1000,op40: rgba(0, 0, 0, 0.4000);
  --neutral-1000,op64: rgba(0, 0, 0, 0.6400);
  --neutral-1000,op80: rgba(0, 0, 0, 0.8000);
  --al1: #00A693;
  --al1-50: #E5F6F4;
  --al1-100: #CCEDDE9;
  --al1-150: #B2E4DF;
  --al1-200: #99DBD4;
  --al1-300: #66CABE;
  --al1-400: #33B8A9;
  --al1-500: #00A693;
  --al1-600: #008576;
  --al1-700: #006458;
  --al1-800: #00423B;
  --al1-850: #00322C;
  --al1-900: #00211D;
  --al1-950: #00110F;
  --al2: #006ED5;
  --al2-50: #E5F0FB;
  --al2-100: #CBE1F7;
  --al2-150: #B2D3F2;
  --al2-200: #98C4EE;
  --al2-300: #66A8E6;
  --al2-400: #338BDD;
  --al2-500: #006ED5;
  --al2-600: #0058AA;
  --al2-700: #004280;
  --al2-800: #002C55;
  --al2-850: #002140;
  --al2-900: #00162B;
  --al2-950: #000B15;
  --al3: #F29B18;
  --al3-50: #FEF5E8;
  --al3-100: #FCEBD1;
  --al3-150: #FBE1BA;
  --al3-200: #FAD7A3;
  --al3-300: #F7C374;
  --al3-400: #F5AF46;
  --al3-500: #F29B18;
  --al3-600: #C27C13;
  --al3-700: #915D0E;
  --al3-800: #613E0A;
  --al3-850: #492F07;
  --al3-900: #301F05;
  --al3-950: #181002;
  --al4: #C9362C;
  --al4-50: #FAEBEA;
  --al4-100: #F4D7D5;
  --al4-150: #EFC3C0;
  --al4-200: #E9AFAB;
  --al4-300: #DF8680;
  --al4-400: #D45E56;
  --al4-500: #C9362C;
  --al4-600: #A12B23;
  --al4-700: #79201A;
  --al4-800: #501612;
  --al4-850: #3C100D;
  --al4-900: #280B09;
  --al4-950: #140504;
  --error: #C9362C;
  --error-50: #FAEBEA;
  --error-100: #F4D7D5;
  --error-150: #EFC3C0;
  --error-500: #C9362C;
  --error-700: #79201A;
  --warning: #F29B18;
  --warning-50: #FEF5E8;
  --warning-100: #FCEBD1;
  --warning-200: #FAD7A3;
  --warning-700: #915D0E;
  --success: #187F54;
  --success-50: #E8F2EE;
  --success-100: #D1E5DD;
  --success-700: #0E4C32;
  --info: #1867DC;
  --info-50: #E8F0FB;
  --info-100: #D1E1F8;
  --info-500: #1867DC;
  --info-700: #0E3E84;
  --persian: #034694;
  --persian-50: #E6ECF4;
  --persian-100: #CDDAEA;
  --persian-500: #034694;
  --persian-700: #022A59;
  --desert: #E7C673;
  --desert-50: #FDF9F1;
  --desert-100: #FAF4E3;
  --desert-500: #E7C673;
  --desert-700: #8B7745;
}
